body {
	font-family: sans-serif;
}

.rev {
	background-color: #ddd;
}

.rev:BEFORE {
	content: 'rev ';
	font-size: 10px;
}

.type {
	background-color: #ddd;
	font-size: small;
}

.main {
	border-top: 5px solid #1E93F6;
	background-color: white;
}

h1,h2,h3,h4 {
	color: #1E93F6;
	font-size: 120%;
}

div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,img,dl,dt,dd,ol,ul,li,table,tbody,tfoot,thead,tr,th,td
	{
	margin: 4px;
	padding: 2px;
}

dl {
	border: 2px solid #CCCCCC;
}

dl:after {
	clear: both;
	display: block;
	content: ''
}

dt {
	color: white !important;
	background-color: #1E93F6;
	display: inline;
	/* render as table */
	float: left;
	clear: left;
	width: 140px;
	text-align: right;
	margin: 2px;
}

dt:after {
	content: ":";
}

dd {
	display: block;
	float: left;
	clear: right;
	margin: 2px;
}

ol {
	padding: 0 0 0 40px; /*--Distance between the order numbers--*/
}

li {
	margin: 0;
	color: #ccc;
	font-weight: bold;
}

li.value {
	display: inline-block;
}

li div,li div * {
	font-size: 16px;
	color: black;
	font-weight: normal;
}

.key {
	color: #1E93F6;
	font-weight: bold;
}

.comment {
	width: 25%;
	white-space: normal;
}

th,td {
	border: 1px solid #ccc;
}

.email {
	font-weight: bolder;
}