.xydebug {
	font-family: sans-serif;
	font-size: 16px;
}

.xydebug .rev {
	background-color: #ddd;
}
.xydebug .rev:BEFORE {
	content: 'rev ';
	font-size: 9px;
}

.xydebug.main {
	border-top: 5px solid #1E93F6;
	background-color: white;
}

.xydebug h1,.xydebug h2,.xydebug h3,.xydebug h4 {
	color: #1E93F6;
	font-size: 18px;
}

.xydebug div,.xydebug span,.xydebug h1,.xydebug h2,.xydebug h3,.xydebug h4,.xydebug h5,.xydebug h6,.xydebug p,.xydebug blockquote,.xydebug pre,.xydebug a,.xydebug code,.xydebug img,.xydebug dl,.xydebug dt,.xydebug dd,.xydebug ol,.xydebug ul,.xydebug li,.xydebug table,.xydebug tbody,.xydebug tfoot,.xydebug thead,.xydebug tr,.xydebug th,.xydebug td
	{
	margin: 4px;
	padding: 2px;
}

.xydebug dl {
	border: 2px solid #CCCCCC;
}

.xydebug  dl:after {
	clear: both;
	display: block;
	content: ''
}

.xydebug dt {
	color: white !important;
	background-color: #1E93F6;
	display: inline;
	/* render as table */
	float: left;
	clear: left;
	width: 140px;
	text-align: right;
	margin: 2px;
}

.xydebug  dt:after {
	content: ":";
}

.xydebug dd {
	display: block;
	float: left;
	clear: right;
	margin: 2px;
}

.xydebug ol {
	padding: 0 0 0 40px; /*--Distance between the order numbers--*/
}

.xydebug li {
	margin: 0;
}

.xydebug li div, .xydebug li div * {
	color: black;
}

.xydebug .key {
	color: #1E93F6;
	font-weight: bold;
}

.xydebug .comment {
	width: 25%;
	white-space: normal;
}

.xydebug th,.xydebug td {
	border: 1px solid #ccc;
}

.xydebug .email {
	font-weight: bolder;
}

.xydebug table {
	border: 1px solid black;
}

.xydebug .info {
	color: #999;
}
.xydebug .warn {
	color: red;
}