.cpodebug {
	font-family: sans-serif;
	font-size: 16px;
}

.cpodebug .rev {
	background-color: #ddd;
}
.cpodebug .rev:BEFORE {
	content: 'rev ';
	font-size: 9px;
}

.cpodebug.main {
	border-top: 5px solid #1E93F6;
	background-color: white;
}

.cpodebug h1,.cpodebug h2,.cpodebug h3,.cpodebug h4 {
	color: #1E93F6;
	font-size: 18px;
}

.cpodebug div,.cpodebug span,.cpodebug h1,.cpodebug h2,.cpodebug h3,.cpodebug h4,.cpodebug h5,.cpodebug h6,.cpodebug p,.cpodebug blockquote,.cpodebug pre,.cpodebug a,.cpodebug code,.cpodebug img,.cpodebug dl,.cpodebug dt,.cpodebug dd,.cpodebug ol,.cpodebug ul,.cpodebug li,.cpodebug table,.cpodebug tbody,.cpodebug tfoot,.cpodebug thead,.cpodebug tr,.cpodebug th,.cpodebug td
	{
	margin: 4px;
	padding: 2px;
}

.cpodebug dl {
	border: 2px solid #CCCCCC;
}

.cpodebug  dl:after {
	clear: both;
	display: block;
	content: ''
}

.cpodebug dt {
	color: white !important;
	background-color: #1E93F6;
	display: inline;
	/* render as table */
	float: left;
	clear: left;
	width: 140px;
	text-align: right;
	margin: 2px;
}

.cpodebug  dt:after {
	content: ":";
}

.cpodebug dd {
	display: block;
	float: left;
	clear: right;
	margin: 2px;
}

.cpodebug ol {
	padding: 0 0 0 40px; /*--Distance between the order numbers--*/
}

.cpodebug li {
	margin: 0;
}

.cpodebug li div, .cpodebug li div * {
	color: black;
}

.cpodebug .key {
	color: #1E93F6;
	font-weight: bold;
}

.cpodebug .comment {
	width: 25%;
	white-space: normal;
}

.cpodebug th,.cpodebug td {
	border: 1px solid #ccc;
}

.cpodebug .email {
	font-weight: bolder;
}

.cpodebug table {
	border: 1px solid black;
}

.cpodebug .info {
	color: #999;
}
.cpodebug .warn {
	color: red;
}