/target/
com.sonicmetrics.core/.classpath
com.sonicmetrics.core/.project
com.sonicmetrics.core/.settings/org.eclipse.core.resources.prefs
com.sonicmetrics.core/.settings/org.eclipse.jdt.core.prefs
com.sonicmetrics.core/.settings/org.eclipse.m2e.core.prefs
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
org.xydra.annotations/.classpath
org.xydra.annotations/.project
org.xydra.annotations/.settings/org.eclipse.core.resources.prefs
org.xydra.annotations/.settings/org.eclipse.jdt.core.prefs
org.xydra.annotations/.settings/org.eclipse.m2e.core.prefs
org.xydra.conf/.classpath
org.xydra.conf/.project
org.xydra.conf/.settings/org.eclipse.core.resources.prefs
org.xydra.conf/.settings/org.eclipse.jdt.core.prefs
org.xydra.conf/.settings/org.eclipse.m2e.core.prefs
org.xydra.core/.classpath
org.xydra.core/.project
org.xydra.core/.settings/org.eclipse.core.resources.prefs
org.xydra.core/.settings/org.eclipse.jdt.core.prefs
org.xydra.core/.settings/org.eclipse.m2e.core.prefs
org.xydra.csv/.classpath
org.xydra.csv/.project
org.xydra.csv/.settings/org.eclipse.core.resources.prefs
org.xydra.csv/.settings/org.eclipse.jdt.core.prefs
org.xydra.csv/.settings/org.eclipse.m2e.core.prefs
org.xydra.doc/.classpath
org.xydra.doc/.project
org.xydra.doc/.settings/org.eclipse.core.resources.prefs
org.xydra.doc/.settings/org.eclipse.jdt.core.prefs
org.xydra.doc/.settings/org.eclipse.m2e.core.prefs
org.xydra.gae/.classpath
org.xydra.gae/.project
org.xydra.gae/.settings/org.eclipse.core.resources.prefs
org.xydra.gae/.settings/org.eclipse.jdt.core.prefs
org.xydra.gae/.settings/org.eclipse.m2e.core.prefs
org.xydra.gaemyadmin/.classpath
org.xydra.gaemyadmin/.project
org.xydra.gaemyadmin/.settings/org.eclipse.core.resources.prefs
org.xydra.gaemyadmin/.settings/org.eclipse.jdt.core.prefs
org.xydra.gaemyadmin/.settings/org.eclipse.m2e.core.prefs
org.xydra.gwt/.classpath
org.xydra.gwt/.project
org.xydra.gwt/.settings/org.eclipse.core.resources.prefs
org.xydra.gwt/.settings/org.eclipse.jdt.core.prefs
org.xydra.gwt/.settings/org.eclipse.m2e.core.prefs
org.xydra.gwttools/.classpath
org.xydra.gwttools/.project
org.xydra.gwttools/.settings/org.eclipse.core.resources.prefs
org.xydra.gwttools/.settings/org.eclipse.jdt.core.prefs
org.xydra.gwttools/.settings/org.eclipse.m2e.core.prefs
org.xydra.index/.classpath
org.xydra.index/.project
org.xydra.index/.settings/org.eclipse.core.resources.prefs
org.xydra.index/.settings/org.eclipse.jdt.core.prefs
org.xydra.index/.settings/org.eclipse.m2e.core.prefs
org.xydra.jetty/.classpath
org.xydra.jetty/.project
org.xydra.jetty/.settings/org.eclipse.core.resources.prefs
org.xydra.jetty/.settings/org.eclipse.jdt.core.prefs
org.xydra.jetty/.settings/org.eclipse.m2e.core.prefs
org.xydra.log/.classpath
org.xydra.log/.project
org.xydra.log.gae/.classpath
org.xydra.log.gae/.project
org.xydra.log.gae/.settings/org.eclipse.core.resources.prefs
org.xydra.log.gae/.settings/org.eclipse.jdt.core.prefs
org.xydra.log.gae/.settings/org.eclipse.m2e.core.prefs
org.xydra.log.howto/.classpath
org.xydra.log.howto/.project
org.xydra.log.howto/.settings/org.eclipse.core.resources.prefs
org.xydra.log.howto/.settings/org.eclipse.jdt.core.prefs
org.xydra.log.howto/.settings/org.eclipse.m2e.core.prefs
org.xydra.log/.settings/org.eclipse.core.resources.prefs
org.xydra.log/.settings/org.eclipse.jdt.core.prefs
org.xydra.log/.settings/org.eclipse.m2e.core.prefs
org.xydra.mvnxy/.settings/org.eclipse.core.resources.prefs
org.xydra.mvnxy/.settings/org.eclipse.jdt.core.prefs
org.xydra.mvnxy/.settings/org.eclipse.m2e.core.prefs
org.xydra.oo/.classpath
org.xydra.oo/.project
org.xydra.oo/.settings/org.eclipse.core.resources.prefs
org.xydra.oo/.settings/org.eclipse.jdt.core.prefs
org.xydra.oo/.settings/org.eclipse.m2e.core.prefs
org.xydra.restless/.classpath
org.xydra.restless/.project
org.xydra.restless.gae-demo/.classpath
org.xydra.restless.gae-demo/.project
org.xydra.restless.gae-demo/.settings/org.eclipse.core.resources.prefs
org.xydra.restless.gae-demo/.settings/org.eclipse.jdt.core.prefs
org.xydra.restless.gae-demo/.settings/org.eclipse.m2e.core.prefs
org.xydra.restless/.settings/org.eclipse.core.resources.prefs
org.xydra.restless/.settings/org.eclipse.jdt.core.prefs
org.xydra.restless/.settings/org.eclipse.m2e.core.prefs
org.xydra.server/.classpath
org.xydra.server/.project
org.xydra.server/.settings/org.eclipse.core.resources.prefs
org.xydra.server/.settings/org.eclipse.jdt.core.prefs
org.xydra.server/.settings/org.eclipse.m2e.core.prefs
org.xydra.testgae/.classpath
org.xydra.testgae/.project
org.xydra.testgae/.settings/org.eclipse.core.resources.prefs
org.xydra.testgae/.settings/org.eclipse.jdt.core.prefs
org.xydra.testgae/.settings/org.eclipse.m2e.core.prefs
org.xydra.webadmin/.classpath
org.xydra.webadmin/.project
org.xydra.webadmin-deploy/.classpath
org.xydra.webadmin-deploy/.project
org.xydra.webadmin-deploy/.settings/org.eclipse.core.resources.prefs
org.xydra.webadmin-deploy/.settings/org.eclipse.jdt.core.prefs
org.xydra.webadmin-deploy/.settings/org.eclipse.m2e.core.prefs
org.xydra.webadmin/.settings/org.eclipse.core.resources.prefs
org.xydra.webadmin/.settings/org.eclipse.jdt.core.prefs
org.xydra.webadmin/.settings/org.eclipse.m2e.core.prefs
org.xydra.xgae-api/.classpath
org.xydra.xgae-api/.project
org.xydra.xgae-api/.settings/org.eclipse.core.resources.prefs
org.xydra.xgae-api/.settings/org.eclipse.jdt.core.prefs
org.xydra.xgae-api/.settings/org.eclipse.m2e.core.prefs
org.xydra.xgae-impl-gae/.classpath
org.xydra.xgae-impl-gae/.project
org.xydra.xgae-impl-gae/.settings/org.eclipse.core.resources.prefs
org.xydra.xgae-impl-gae/.settings/org.eclipse.jdt.core.prefs
org.xydra.xgae-impl-gae/.settings/org.eclipse.m2e.core.prefs
