<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>XydraServer</servlet-name>
		<servlet-class>org.xydra.restless.Restless</servlet-class>
		<init-param>
			<param-name>app</param-name>
			<param-value>org.xydra.server.rest.ShareXydraPersistenceApp,org.xydra.gae.admin.XydraAdminApp</param-value>
		</init-param>
		<init-param>
			<param-name>loggerFactory</param-name>
			<param-value>org.xydra.log.gae.GaeLoggerFactorySPI</param-value>
		</init-param>
		<init-param>
			<param-name>org.xydra.persistence</param-name>
			<param-value>org.xydra.store.impl.gae.GaePersistence</param-value>
			<!-- <param-value>org.xydra.server.impl.newgae.NewGaeXydraServer</param-value> -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>XydraServer</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

</web-app>
