.field * {
	display: inline;
}

.browsingPanel {
	
}

.sessionLabelDummy {
	background-color: rgba(255, 105, 0, 0.6);
	width: 690px;
	/* 	height: 75px; */
	position: relative;
	left: 350px;
}

/* selection tree  */
.treeMainPanel {
	width: 320px;
	/* 	height: 1000px; */
	margin: 1px;
}

.treeMainPanel td,.treeMainPanel tr,.treeMainPanel div,.treeMainPanel table
	{
	padding: 1px;
	margin: 1px;
	border-spacing: 1px;
	/* 	border: 0px; */
}

.treeMainPanel table {
	padding: 1px;
	margin: 1px;
	border-spacing: 1px;
	background-color: rgb(208, 208, 208);
}

.treeButtonPanelStyle td {
	border: 0px;
	text-align: auto;
}

.editorLabelDummy {
	background-color: olive;
	width: 900px;
	height: 1000px;
}

.treeItem {
	height: 30px;
}

.modelControlButtonPanel { /* 	height: 50px; */
	/* 	width: 800px; */
	/* 	background-color: lime; */
	
}

.modelPane {
	height: 1000px;
	/* 	width: 800px; */
}

.editorPanel {
	height: 500px;
	/* 	width: 880px; */
}

.headerStyle {
	width: 20px;
	height: : 20px;
}

.optionalFooCellStyle {
	width: 500px;
}

.description {
	font-style: italic;
	text-align: center;
}

.fieldValueInfo {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

.revisionLabelStyle {
	font-style: italic;
	font-size: 14px;
	text-align: right;
}

.emptyFieldButtonStyle {
	
}

.buttonPanelStyle {
	margin: auto;
}

.dialogStyle {
	background-color: lightgrey;
	border: 1px solid #009;
}

.dialogStyle .Caption {
	background-color: #ff0;
	font-size: 90%;
	font-weight: bold;
	border-bottom: 3px solid #009;
	padding: 5px;
	text-align: center;
	cursor: pointermove;
}

.dialogStyle td,.dialogStyle div,.dialogStyle table {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border: 0px;
}

.dialogStyle .buttonPanelStyle {
	margin: auto;
}

.textAreaStyle {
	width: 200px;
}

.defaultLabelStyle {
	width: 800px;
	/* 	height: 800px; */
	font-style: italic;
	margin: auto;
}

.noData {
	font-size: 30px;
	font-style: italic;
	height: 600px;
	width: 1000px;
	text-align: center;
}

.fieldIDWidget td,.fieldValueInfo td {
	border: 0px !important;
}

.fieldIDWidget {
	text-align: center;
}

.editorStyle {
	height: 24px;
}

.editorStyle td { /* 	border-top: 1px solid #ccc; */
	/* 	border-bottom: 1px solid #ccc; */
	
}

.editorStyle tbody {
	border: 1px solid #ccc;
}

.compactTable {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	border: 0px;
}

.compactTable td {
	border: 1px solid #ccc;
}

.cellElement {
	width: 200px;
	height: 200px;
}

.scrollTableStyle {
	max-height: 870px;
	padding: 0;
	margin: 0;
}

.scrollTableStyle>div {
	padding: 0;
	margin: 0;
}

.cellHeight {
	height: 150px;
}

.cellWidth {
	width: 200px;
	margin: 0;
	padding: 0;
}

.rowHeaderWidth {
	width: 200px;
	margin: 0;
	padding: 0;
	margin: 0;
}

.rowHeaderStyle {
	
}

.rowHeaderStyle td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.valueLabelProperties {
	width: 180px;
	min-height: 80px;
}

.valueLabelProperties td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.evenRow { /* background-color : rgb(187, 187, 187);} */
	background-color: rgba(255, 105, 0, 0.6);
}

.oddRow { /* 		background-color : rgba(155, 155, 155, 0.23); */
	/* 		color: #FF6900; */
	background-color: rgba(255, 105, 0, 1.0);
}

.noBorder td {
	border: 0;
}

.repoBranchBorder {
	border: 1px solid #009;
}

.idAnchorStyle {
	cursor: pointer;
}

.modelAnchorStyle {
	font-size: 20px;
	font-style: normal;
	text-decoration: underline;
	margin-bottom: 5px;
}

.informationPanel { /* 	height: 800px; */
	padding: 0;
	margin: 0;
}

.informationPanel td .informationPanel table .informationPanel tr .informationPanel div
	{
	padding: 0;
	margin: 0;
}

.imageButtonStyle,.imageButtonStyle>img {
	font-size: 0px;
	padding: 1px;
}

.editor-xfield {
	width: 100%;
}

.border {
	border: 1px solid #ccc;
}

.errorLabelStyle {
	color: red;
	font-style: italic;
	background-color: white;
}

.objectIDLabel {
	width: 170px;
	height: 96px;
}

.modelIDLabel {
	width: 310px;
	height: 40px;
}