<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Maven GWT Sample Project</display-name>	
	
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>
	
	
	
	<!--  work around same-origin policy -->
	<servlet>
		<servlet-name>ProxyServlet</servlet-name>
		<servlet-class>org.xydra.gwt.ProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/cxm/*</url-pattern>
	</servlet-mapping>
	
	
	
			<init-param>
			<param-name>org.xydra.store</param-name>
			<param-value>com.calpano.favr.server.security.FavrSecureXydraStore</param-value>
		</init-param>
	
	
</web-app>
