<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!--  only active if default servlet handles root path -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Restless</servlet-name>
		<servlet-class>org.xydra.restless.Restless</servlet-class>
		<init-param>
			<param-name>app</param-name>
			<param-value>org.xydra.restless.gaedemo.LiveDemoApp</param-value>
		</init-param>
		<init-param>
			<param-name>foo</param-name>
			<param-value>bar</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Restless</servlet-name>
		<url-pattern>/normal/*</url-pattern>
		<!--  for secure resources -->
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<!-- Without this, admin resources are not protected -->
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>


</web-app>
